.App {
  text-align: center;
}

.login-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 400px;
}

.app-input {
  margin-top: 10px !important;
}

.login-button {
  margin-top: 15px;
  float: right;
}

.margin-x-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.is-right {
  float: right;
}

.faded {
  opacity: 0.7;
}

.font-14 {
  font-size: 14px;
}

.v-align-baseline {
  vertical-align: bottom;
}