.teachers-view-container {
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.teacher-info-container {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    min-height: 150px;
}

.teacher-info-container>*:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .teachers-view-container {
        width: 100vw;
        margin: 0px;
    }
    .teacher-info-container {
        display: block;
        text-align: center;
    }
}